<div class="m-5">
  <%= link_to "Add New", new_category_path ,  class: "btn btn-secondary my-4" %>
  <h1>All Categories</h1>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Creator</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col" colspan='2'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.title %></td>
          <td><%=  category.creator.full_name %></td>
          <td><%=  time_ago_in_words(category.created_at) %></td>
          <td><%=  time_ago_in_words(category.updated_at) %></td>
          <td>
            <span class='d-flex'>
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-secondary mx-1" %>
              <%= button_to "Delete", category, method: :delete, data: { turbo_confirm: "Are you sure? You want to delete?" }, class: "btn btn-outline-danger mx-1" %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <%= will_paginate @categories, :container => false %>
  </div>
</div>
